/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #000000;
}
#RYM1{
    position: absolute;
    width: 40%;
    height: auto;
    align-items: center;
    top: 500PX;
    right: 450px;
}
#tit{
    top: 5%;
    left: 10%;
    position: absolute;
}
#subtit{
    top: 5%;
    left: 7%;
    position: absolute;
}
#subtit2{
    top: 20%;
    left: 2%;
    position: absolute;
}
h1 {
    font-family: "Jersey 10", sans-serif;
    color: #add6ec;
    font-size: 150px;
    margin-bottom: 10px;
}
#TITULO h1{
    left: 78%;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.summary-container {
    position: absolute;
    top: 5%;
    color: #fff;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    left: 60%;
    position: absolute;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.summary-text {
    text-align: justify;
    line-height: 1.6;

}
