header {
  background-color: black;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  align-items: center;
  border: 2px solid white;
}

h1 {
  display: none;
}

nav {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 40px;
  margin-right: 40px;
}